@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,800;0,900;1,400;1,600;1,700&family=Poppins:wght@400;700;900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Kanit', sans-serif;
}

.primera-seccion {
	background-color: #222222;
	padding: 10px 20px;
	color: #ffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.primera-seccion-dos {
	background-color: #222222;
	padding: 10px 40px;
	color: #ffff;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.navegacion-menu-dos ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.navegacion-menu-dos ul li a {
	text-decoration: none;
	color: #ffff;
	font-size: 22px;
	font-weight: 900;
}

.primera-seccion .content-pizza {
	display: flex;
	gap: 10px;
	align-items: center;
}

.content-pizza h1 .span-one {
	color: #39b24a;
	font-size: 29px;
	font-weight: 900;
}

.content-pizza h1 .span-two {
	color: #fc200c;
	font-size: 29px;
	font-weight: 900;
}

.navegacion-menu ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

@media (max-width: 800px) {
	.navegacion-menu {
		display: none;
	}
}

.navegacion-menu ul li a {
	text-decoration: none;
	color: #ffff;
	font-size: 22px;
	font-weight: 700;
}

main {
	padding: 50px 0px;
	background-color: #e5e5e5;
}
section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin: 20px 20px;
}
section .contenedor-seccion_img {
	background: url('https://s3-alpha-sig.figma.com/img/2406/ea19/fea830130f8bf264fbb6d8e826d25d65?Expires=1655683200&Signature=FYPlKHgO~fWsygnpm5Su8Z5LCynNjt~6J1SOeM3m~BfHsusT26fkaGXajTa7WN6MmE0fbPizcLnqr4OdJ5Kc-sM-O2-5OKeG-XHqJ~bIma~rmAsQ5qpjd7gCT3rGXaDi5VmphFOXOKtco3wFuhlHULxPZQsp8jo1A6QaUpk2iSpu3WP1ZH4mVF1S7197W170q~sd-3tZF24oWRJeIludCI-VOnxK~PhtV4aXJpgdq7gRO0uuqMBq37~Ugx1fYhznZMTrFWO8QsBSns5DZ0bz9hnzzpR5FSpqvJwOIXWlQXiFTiYSqsiPdHDTdnbJkEwSRi3RVRyvJKLUT-rRnJ4mrA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 55rem;
	height: 30rem;
	border-radius: 10px;
	padding: 20px;
}

section .contenedor-seccion_img div p {
	color: #fc200c;
	font-size: 26px;
	font-weight: 800;
	background-color: #22222294;
	box-shadow: 3px 2px 3px #9691918e;
	padding: 6px 3px;
	border-radius: 5px;
	width: 50%;
}

.contenedor-seccion-div {
	background-color: #ffff;
	height: 30rem;
	width: 55rem;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 0px 100px;
}

@media (max-width: 720px) and (min-width: 580px) {
	.contenedor-seccion-div {
		height: 50rem;
	}
}

section .contenedor-seccion_img div p span {
	color: #ffff;
}

.navegacion-menu-numerodos {
	display: flex;
	flex-direction: column;
}

.contenedor-podio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	padding: 0px 20px;
}

.podio-img img {
	height: 300px;
	width: 200px;
}

.podio-title-list p {
	padding: 20px 0px;
	font-weight: 900;
	font-size: 28px;
}

.podio-title-list ol li {
	font-size: 23px;
	font-weight: 700;
	line-height: 40px;
}

@media (max-width: 580px) {
	.podio-img img {
		display: none;
	}
	.podio-title-list {
		margin: 0 auto;
	}
}

.title-seccion {
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	justify-content: center;
}
